@media (max-width: 640px){
	.bannercontainer{
		display: block;
		opacity: 1;
	}

	.banner,
	.tparrows{
		display: block !important;
	}

	.movie-best{
		margin-top: 90px;
	}
}

@media (max-width: 480px){
	.movie-best{
		margin-top: 30px;
	}

	.control-panel {
    	margin-right: -80px;
	}

	.auth--home {
		top: -54px;
	}

	.auth--home .auth__show{
		display: none;
	}

	.auth .auth__function{
		top: 42px;
	}

}